/** FOOTER CSS **/
footer {
    display: flex;
    background-color: #D9C3D1;
    border-end-end-radius: 25px;
    border-end-start-radius: 25px;
    padding: 25px;
}

.contRedes {
    display: flex;
    width: 33%;
    justify-content: space-around;
}

.contWsp {
    display: flex;
    width: 33%;
    justify-content: end;
}

.heartbeat {
	animation: heartbeat 1.5s ease-in-out 3s infinite both;
}
.copy{
    display: flex;
    width: 33%;
    justify-content: end;
}
.scaleIcon:hover {
transform: scale(1.2,1.2);
}